<h1><%= @topic.name %></h1>

<div class="row">
  <div class="col-md-8">
    <p class="lead"><%= @topic.description %></p>
    <% @topic.advertisements.each do |advertisement| %>
      <div class="media bg-info">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to advertisement.title, topic_advertisement_path(@topic, advertisement) %><br>
          </h4>
          <p><%= advertisement.body %></p>
        </div>
      </div>
    <% end %>
    <% @topic.posts.each do |post| %>
      <%= render partial: 'posts/post', locals: { post: post } %>
      <div class="media">
         <%= render partial: 'votes/voter', locals: { post: post } %>
      </div>
    <% end %>
  </div><br><br>
  <div class="col-md-4">
      <%= link_to "New Post", new_topic_post_path(@topic, @post), class: 'btn btn-default' %>
      <%= link_to "New Sponsored Post", new_topic_advertisement_path(@topic, @advertisement), class: 'btn btn-primary' %>
    <% if is_moderator? %>
      <%= link_to "Edit Topic", edit_topic_path(@topic), class: 'btn btn-success' %>
    <% end %>
    <% if is_admin? %>
      <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?  All posts contained will also be deleted!' } %>
    <% end %>
  </div>

</div>
