<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end %>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>,
          <%= pluralize(@user.comments.count, 'comment') %>,
          <%= pluralize(@user.favorites.count, 'favorite') %>
        </small>
      </div>
    </div>
  </div>
</div>
<% if no_user_posts? %>
  <h4> Sadly, <%= @user.name %> has yet to create a single post. </h4>
<% else %>
  <h2>Posts</h2>
  <%= render @user.posts %>
<% end %>
<% if no_user_comments? %>
  <h4> Oh no, <%= @user.name %> has not created even one comment! </h4>
<% else %>
  <h2>Comments</h2>
  <%= render @user.comments %>
<% end %>
<h2>Favorites</h2>
<%= render @user.favorites.map(&:post) %>
